@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #F6F6F6;
}

h1, h2, h3 {
  color: #101010;
}

.logo {
  font-size: 30px;
}

p {
  color: #353535;
}

a {
  text-decoration: none;
  color: #353535;
}

.font-shrikhand {
  font-family: Shrikhand, cursive;
}

.font-roboto {
  font-family: Roboto, cursive;
}

.color-dark {
  color: #353535;
}

.extra-dark {
  color: #101010;
}

.heart {
  position: relative;
  z-index: 5;
}
.heart .clicked {
  z-index: 6;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transform: scale(0);
  transform-origin: bottom center;
  transition: 0.5s ease-in-out;
  cursor: wait;
}
.heart:hover .clicked {
  transform: scale(1);
}

.gradient:before {
  color: red;
  background: -webkit-linear-gradient(bottom, top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
}

.button {
  width: fit-content;
  padding: 20px 26px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 9999px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
  border-radius: 9999px;
  transition: opacity 0.2s ease-in-out;
}
.button:hover {
  box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.25);
}
.button:hover::after {
  opacity: 0.2;
}
.button:active {
  box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.25);
}
.button:active::after {
  opacity: 0.2;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.navbar i {
  font-size: 30px;
  position: absolute;
  left: 17px;
  top: 17px;
}

@media (min-width: 1320px) {
  .navbar {
    padding: 30px 0;
  }
}
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.location p {
  font-size: 16px;
}

.hero {
  padding: 38px 38px 57px 38px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero h1 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 18px;
}
.hero h2 {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 35px;
}

.functioning {
  padding: 48px 20px 68px 20px;
  background-color: #fff;
}
.functioning h2 {
  margin-bottom: 35px;
}
.functioning .steps {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;
}
.functioning .steps .step {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  position: relative;
}
.functioning .steps .step .number {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 27px;
}
.functioning .steps .step .number * {
  color: #fff;
}
.functioning .steps .step .content {
  margin-left: 12px;
  height: 72px;
  display: flex;
  flex: 1;
  padding: 0 35px;
  gap: 22px;
  font-size: 16px;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 20px;
}
.functioning .steps .step .content p {
  color: #000;
}
.functioning .steps .step .content span {
  color: #353535;
}

@media (min-width: 1320px) {
  .functioning {
    padding: 50px 180px;
  }
  .functioning .steps {
    flex-direction: row;
  }
}
.restaurants {
  padding: 48px 20px 68px 20px;
}
.restaurants h2 {
  margin-bottom: 28px;
}
.restaurants .articles {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 18px;
}
.restaurants .articles .clickable {
  position: relative;
}
.restaurants .articles .clickable a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.restaurants .articles article {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
.restaurants .articles article img {
  width: 100%;
  height: 174px;
  object-fit: cover;
}
.restaurants .articles article .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.restaurants .articles article .content .title {
  font-weight: bold;
  margin-bottom: 5px;
}
.restaurants .articles article .content p {
  font-size: 16px;
}
.restaurants .articles article .new {
  font-size: 14px;
  padding: 7px 10px;
  background-color: #99E2D0;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #008766;
}

@media (min-width: 1320px) {
  .restaurants {
    padding: 50px 180px;
  }
  .restaurants .articles {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 100px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #353535;
}
.footer * {
  color: #fff;
}
.footer .labels {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}
.footer .logo {
  font-size: 18px;
  margin-bottom: 20px;
}
.footer .with-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 1320px) {
  .footer {
    padding: 60px 65px 36px 65px;
    align-items: center;
    flex-direction: row-reverse;
  }
  .footer .labels {
    gap: 10px;
    align-items: center;
    flex-direction: row-reverse;
  }
  .footer .logo {
    margin-left: 73px;
    margin-bottom: 0;
  }
}
.image-section {
  width: 100%;
  height: 220px;
  position: relative;
}
.image-section img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  z-index: -1;
}

@media (min-width: 1320px) {
  .image-section {
    height: 383px;
  }
}
.menu {
  background-color: #fff;
  width: 100%;
  border-radius: 40px 40px 0 0;
  padding: 35px 13px;
}
.menu .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1320px) {
  .menu {
    padding: 50px 180px;
  }
}

/*# sourceMappingURL=style.css.map */
