@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$gray: #353535;
$black: #010101;
$background: #F6F6F6;
$gardient: linear-gradient($secondary-color, $primary-color);

$shrikhand: Shrikhand, cursive;
$shrikhand-wheight: 400;
$roboto: Roboto, cursive;

$screen: 100vh;
$full: 100%;

$rounded: 9999px;