@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.image-section {
  width: 100%;
  height: 220px !important;
  overflow: visible;
  position: relative;
}
.image-section img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  z-index: -2;
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}
.menu h1 {
  font-family: Shrikhand, cursive;
  font-weight: 400;
}
.menu .layout {
  background-color: #F6F6F6;
  width: 100%;
  border-radius: 40px 40px 0 0;
  padding: 45px 13px;
}
.menu .layout .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.menu .layout h2 {
  font-weight: 300;
  position: relative;
  text-transform: uppercase;
  opacity: 0;
  animation: opacity 0.5s linear forwards;
  animation-delay: 1s;
}
.menu .layout h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.menu .layout .cards {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu .layout .cards .card {
  display: flex;
  overflow: hidden;
  height: 76px;
  width: 100%;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: come_from_right 0.5s ease-in-out forwards;
}
.menu .layout .cards .card:nth-child(1) {
  animation-delay: 0.2s;
}
.menu .layout .cards .card:nth-child(2) {
  animation-delay: 0.4s;
}
.menu .layout .cards .card:nth-child(3) {
  animation-delay: 0.6s;
}
.menu .layout .cards .card:nth-child(4) {
  animation-delay: 0.8s;
}
.menu .layout .cards .card:nth-child(5) {
  animation-delay: 1s;
}
.menu .layout .cards .card:nth-child(6) {
  animation-delay: 1.2s;
}
.menu .layout .cards .card:nth-child(7) {
  animation-delay: 1.4s;
}
.menu .layout .cards .card:nth-child(8) {
  animation-delay: 1.6s;
}
.menu .layout .cards .card:nth-child(9) {
  animation-delay: 1.8s;
}
.menu .layout .cards .card:nth-child(10) {
  animation-delay: 2s;
}
.menu .layout .cards .card:nth-child(11) {
  animation-delay: 2.2s;
}
.menu .layout .cards .card:nth-child(12) {
  animation-delay: 2.4s;
}
.menu .layout .cards .card:nth-child(13) {
  animation-delay: 2.6s;
}
.menu .layout .cards .card:nth-child(14) {
  animation-delay: 2.8s;
}
.menu .layout .cards .card:nth-child(15) {
  animation-delay: 3s;
}
.menu .layout .cards .card:nth-child(16) {
  animation-delay: 3.2s;
}
.menu .layout .cards .card:nth-child(17) {
  animation-delay: 3.4s;
}
.menu .layout .cards .card:nth-child(18) {
  animation-delay: 3.6s;
}
.menu .layout .cards .card:nth-child(19) {
  animation-delay: 3.8s;
}
.menu .layout .cards .card:nth-child(20) {
  animation-delay: 4s;
}
.menu .layout .cards .card:nth-child(21) {
  animation-delay: 4.2s;
}
.menu .layout .cards .card:nth-child(22) {
  animation-delay: 4.4s;
}
.menu .layout .cards .card:nth-child(23) {
  animation-delay: 4.6s;
}
.menu .layout .cards .card:nth-child(24) {
  animation-delay: 4.8s;
}
.menu .layout .cards .card:nth-child(25) {
  animation-delay: 5s;
}
.menu .layout .cards .card:nth-child(26) {
  animation-delay: 5.2s;
}
.menu .layout .cards .card:nth-child(27) {
  animation-delay: 5.4s;
}
.menu .layout .cards .card:nth-child(28) {
  animation-delay: 5.6s;
}
.menu .layout .cards .card:nth-child(29) {
  animation-delay: 5.8s;
}
.menu .layout .cards .card:nth-child(30) {
  animation-delay: 6s;
}
.menu .layout .cards .card:nth-child(31) {
  animation-delay: 6.2s;
}
.menu .layout .cards .card:nth-child(32) {
  animation-delay: 6.4s;
}
.menu .layout .cards .card:nth-child(33) {
  animation-delay: 6.6s;
}
.menu .layout .cards .card:nth-child(34) {
  animation-delay: 6.8s;
}
.menu .layout .cards .card:nth-child(35) {
  animation-delay: 7s;
}
.menu .layout .cards .card:nth-child(36) {
  animation-delay: 7.2s;
}
.menu .layout .cards .card:nth-child(37) {
  animation-delay: 7.4s;
}
.menu .layout .cards .card:nth-child(38) {
  animation-delay: 7.6s;
}
.menu .layout .cards .card:nth-child(39) {
  animation-delay: 7.8s;
}
.menu .layout .cards .card:nth-child(40) {
  animation-delay: 8s;
}
.menu .layout .cards .card:nth-child(41) {
  animation-delay: 8.2s;
}
.menu .layout .cards .card:nth-child(42) {
  animation-delay: 8.4s;
}
.menu .layout .cards .card:nth-child(43) {
  animation-delay: 8.6s;
}
.menu .layout .cards .card:nth-child(44) {
  animation-delay: 8.8s;
}
.menu .layout .cards .card:nth-child(45) {
  animation-delay: 9s;
}
.menu .layout .cards .card:nth-child(46) {
  animation-delay: 9.2s;
}
.menu .layout .cards .card:nth-child(47) {
  animation-delay: 9.4s;
}
.menu .layout .cards .card:nth-child(48) {
  animation-delay: 9.6s;
}
.menu .layout .cards .card:nth-child(49) {
  animation-delay: 9.8s;
}
.menu .layout .cards .card:nth-child(50) {
  animation-delay: 10s;
}
.menu .layout .cards .card .content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: all 0.3s ease;
}
.menu .layout .cards .card .content p, .menu .layout .cards .card .content h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .layout .cards .card .content div {
  display: flex;
  justify-content: space-between;
}
.menu .layout .cards .card .content div .price {
  font-weight: bold;
  overflow: visible;
}
.menu .layout .cards .card .check {
  background-color: #99E2D0;
  width: 59px;
  height: 100%;
  position: absolute;
  right: -59px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .layout .cards .card:hover .content {
  width: calc(100% - 59px);
}
.menu .layout .cards .card:hover .check {
  right: 0;
}
.menu .order {
  display: flex;
  justify-content: center;
}
.menu .order .button {
  padding-left: 49px;
  padding-right: 49px;
}
@keyframes come_from_right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1440px) {
  .image-section {
    height: 383px;
  }
  .menu .layout {
    padding: 50px 180px;
  }
  .menu .layout .title {
    justify-content: center;
    gap: 24px;
  }
}

/*# sourceMappingURL=restaurants.css.map */
