.navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0 13px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

    h2 {
        font-size: 30px;
        font-family: $shrikhand;
        font-weight: $shrikhand-wheight;
    }

    img {
        position: absolute;
        left: 23px;
        top: (50% - 8);
    }
}

@media (min-width: 1320px) {
    .navbar {
        padding: 30px 0;
    }
}