.footer {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: $dark;
    * {
        color: #fff;
    }

    .labels {
        display: flex;
        flex-direction: column-reverse;
        gap: 5px;
    }

    .logo {
        font-size: $medium;
        margin-bottom: 20px;
    }

    .with-icon {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

@media (min-width: 1320px) {
    .footer {
        padding: 60px 65px 36px 65px;
        align-items: center;
        flex-direction: row-reverse;
        .labels {
            gap: 10px;
            align-items: center;
            flex-direction: row-reverse;
        }
        .logo {
            margin-left: 73px;
            margin-bottom: 0;
        }
    }
}