.location {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    height: 50px;
    background-color: #EAEAEA;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    p {
        font-size: $small;
    }
}