.menu {
    background-color: #fff;
    width: 100%;
    border-radius: 40px 40px 0 0;
    padding: 35px 13px;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 1320px) {
    .menu {
        padding: 50px 180px;
    }
}