@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "variables";

@import "mixin";

* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: $screen;
    background-color: $background-color;
}

h1, h2, h3 {
    color: $extra-dark;
}

.logo {
    font-size: 30px;
}

p {
    color: $dark;
}

a {
    text-decoration: none;
    color: $dark;
}

.font-shrikhand {
    @include font($shrikhand)
}

.font-roboto {
    @include font($roboto)
}

.color-dark {
    @include color($dark)
}

.extra-dark {
    @include color($extra-dark)
}

.heart {
    position: relative;
    z-index: 5;
    .clicked {
        z-index: 6;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        transform: scale(0);
        transform-origin: bottom center;
        transition: 0.5s ease-in-out;
        cursor: wait;
    }
    &:hover {
        .clicked {
            transform: scale(1);
        }
    }
}

.button {
    width: fit-content;
    padding: 20px 26px;
    background: $gardient;
    border-radius: $full;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.2s ease-in-out;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: #fff;
        border-radius: $full;
        transition: opacity 0.2s ease-in-out;
    }

    &:hover {
        box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.25);
    }

    &:hover::after {
        opacity: 0.2;
    }

    &:active {
        box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.25);
    }

    &:active::after {
        opacity: 0.2;
    }
}

@import "navigation";
@import "location";
@import "hero";
@import "functioning";
@import "restaurants";
@import "footer";
@import "image-section";
@import "menu";